# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Firebase secret file (❗ MUHIM)
src/config/admin/serviceAccountKey.json
firebase-config.json
serviceAccountKey.json

# Environment files
*.env*
.env.local
.env.production
.env.development
.env
.env.*.local

# Dependency directories
node_modules

# Build output
dist
dist-ssr
coverage

# macOS
.DS_Store

# Cypress artifacts
/cypress/videos/
/cypress/screenshots/

# Editor config
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo
